{% extends './authbase.html' %}

{% block content %}
<body>
    <h1>Register</h1>
    <div class="logo">
      <img src="..." alt="Logo">
    </div>
    <form method="POST">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        {{ form.first_name }}

        <label for="last_name">Last Name:</label>
        {{form.last_name}}

        <label for="username">Username:</label>
        {{form.username}}

        <label for="email">Email:</label>
        {{form.email}}

        <label for="password">Password:</label>
        {{form.password1}}

        <label for="confirm_password">Confirm Password:</label>
        {{form.password2}}

        <button type="submit">Register</button>
        <p class="text-center text-muted mt-5 mb-0">Have an account? <a href="{% url 'user:login' %}" class="fw-bold text-body"><u>Login Here</u></a></p>
    </form>
</body>
{% endblock %}
